<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>Company Banks</h2>
      <small>List of all company banks</small>
    </div>
    <div class="box-body">
      Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/>
      <% if current_user and current_user.roleid == 1 %>
      <%= link_to 'New Company Bank', new_company_bank_path, {:class => 'btn btn-fw accent',:style => "margin-left:800px;"}%>
      <% end %>
    </div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">

  <thead>
    <tr>
      <th>Bank key</th>
      <th>Bank name</th>
      <th>Encryptkey</th>
      <th>Currency</th>
      <th>Country</th>
      <th>City</th>
      <th>Branch</th>
      <th>Branch code</th>
      <th>Phone</th>
      <th>Account name</th>
      <th>Account email</th>
      <th>Account number</th>
      <th>Swiftcode</th>
      <th>Ibancode</th>
      <th>Visa cvv</th>
      <th>Bank category</th>
      <th>Bank subcategory</th>
      <th>Fees</th>
      <th>Ratio</th>
      <th>Logo</th>
      <th>Expire at</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_banks.each do |company_bank| %>
      <tr>
        <td><%= company_bank.bank_key %></td>
        <td><%= company_bank.bank_name %></td>
        <td><%= company_bank.encryptkey %></td>
        <td><%= company_bank.currency %></td>
        <td><%= company_bank.country %></td>
        <td><%= company_bank.city %></td>
        <td><%= company_bank.branch %></td>
        <td><%= company_bank.branch_code %></td>
        <td><%= company_bank.phone %></td>
        <td><%= company_bank.account_name %></td>
        <td><%= company_bank.account_email %></td>
        <td><%= company_bank.account_number %></td>
        <td><%= company_bank.swiftcode %></td>
        <td><%= company_bank.ibancode %></td>
        <td><%= company_bank.visa_cvv %></td>
        <td><%= company_bank.bank_category %></td>
        <td><%= company_bank.bank_subcategory %></td>
        <td><%= company_bank.fees %></td>
        <td><%= company_bank.ratio %></td>
        <td><%= link_to image_tag(company_bank.logo.variant(resize: "100x100")) %></td>
        <td><%= company_bank.expire_at %></td>
        <% if company_bank.status == 1 %>
        <td><%= "Active" %></td>
        <% elsif company_bank.status == 0 %>
        <td><%= "Disable" %></td>
        <% end %>
        <td><%= link_to 'Show', company_bank %></td>
        <td><%= link_to 'Edit', edit_company_bank_path(company_bank) %></td>
        <td><%= link_to 'Destroy', company_bank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
<tfoot class="hide-if-no-paging">
<tr>
    <td colspan="5" class="text-center">
        <ul class="pagination"></ul>
    </td>
</tr>
</tfoot>
</table>
</div>
</div>
</div>
