<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>Wallets Transfer Ratios</h2>
      <small>List of all wallets transfer ratios</small>
    </div>
    <div class="box-body">
      Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/>
      <% if current_user and current_user.roleid == 1 %>
           <%= link_to 'New Wallets Transfer Ratio', new_wallets_transfer_ratio_path , {:class => 'btn btn-fw accent',:style => "margin-left:600px;"}%>
      <% end %>
    </div>
    <div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
          <th>Key</th>
          <th>Value</th>
          <th>Description</th>
          </tr>
        </thead>
        <tbody>
        <% @wallets_transfer_ratios.each do |wallets_transfer_ratio| %>
          <tr>
          <td><%= wallets_transfer_ratio.key %></td>
          <td><%= wallets_transfer_ratio.value %></td>
          <td><%= wallets_transfer_ratio.description %></td>
          <td><%= link_to 'Edit', edit_wallets_transfer_ratio_path(wallets_transfer_ratio) %></td>
          </tr>
          <% end %>
          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>