<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticket_department.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @ticket_department.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket_department.description %>
</p>

<%= link_to 'Edit', edit_ticket_department_path(@ticket_department) %> |
<%= link_to 'Back', ticket_departments_path %>
