
<!-- ############ PAGE START-->
<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>User Verifications</h2>
      <small>.......</small>
    </div>
    <div class="box-body">
      Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/> 
    </div>
    <div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
              <th>
              UserName
              </th>
              <th data-hide="phone">
              Mobile
              </th>
              <th data-hide="phone">
              Address Verification Status
              </th>
              <th data-hide="phone">
              Nationalid Verification Status
              </th>
              <th data-hide="phone">
              Selfie Verification Status
              </th>
          </tr>
        </thead>
        <tbody>
        <% @user_infos.each do |user_info| %>
          <tr>
              <td><%= user_info.user.firstname + " " + user_info.user.lastname %></td> 
              <td><%= user_info.mobile %></td> 

              <% if user_info.address_verification_id != 0 %>
                <% if user_info.address_verification.status == "Verified" %>
                    <td data-value="1"><%= link_to user_info.address_verification.status , address_verification_path(:id => user_info.address_verification_id) , :class => 'label success', :title => "Active"%></td>
                <% else  %>
                    <td data-value="1"><%= link_to 'Rejected' , address_verification_path(:id => user_info.address_verification_id) , :class => 'label success', :title => "Active" ,:style => "background-color:red;" %></td>
                <% end %>
              <% else  %>
                <td data-value="2"><span class="label" title="Disabled">UnVerified</span></td>
              <% end %>
              
              <% if user_info.nationalid_verification_id != 0 %>
                  <% if user_info.nationalid_verification.status == "Verified" %>
                      <td data-value="1"><%=  link_to user_info.nationalid_verification.status , nationalid_verification_path(:id => user_info.nationalid_verification_id) , :class => 'label success', :title => "Active" %></td>
                  <% else  %>
                      <td data-value="1"><%= link_to 'Rejected' , nationalid_verification_path(:id => user_info.nationalid_verification_id) , :class => 'label success', :title => "Active" ,:style => "background-color:red;" %></td>
                  <% end %>
              <% else  %>
                <td data-value="2"><span class="label" title="Disabled">UnVerified</span></td>
              <% end %>

              <% if user_info.selfie_verification_id != 0 %>
                   <% if user_info.selfie_verification.status == "Verified" %>
                      <td data-value="1"><%= link_to user_info.selfie_verification.status , selfie_verification_path(:id => user_info.selfie_verification_id) , :class => 'label success', :title => "Active"%></td>
                   <% else  %>
                      <td data-value="1"><%= link_to 'Rejected' , selfie_verification_path(:id => user_info.selfie_verification_id) , :class => 'label success', :title => "Active" ,:style => "background-color:red;" %></td>
                   <% end %>
              <% else  %>
                <td data-value="2"><span class="label" title="Disabled">UnVerified</span></td>
              <% end %>

              <% if user_info.status == "Verified"  %>
                <td data-value="1"><span class="label success" title="Active">Verified</span></td>
              <% else  %>
                <td data-value="2"><span class="label" title="Disabled">UnVerified</span></td>
              <% end %>
          
          </tr>
        <% end %>
          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>



<!-- ############ PAGE END-->