  <div class="row-col">
    <a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">&times;</a>
    <div class="p-a b-b">
      <span class="h5">Chat</span>
    </div>
    <div class="row-row dker">
      <div class="row-body scrollable hover">
        <div class="row-inner">
          <div class="p-a-md">
            <div class="m-b">
              <a href class="pull-left w-40 m-r-sm"><img src="/assets/images/a2.jpg" alt="..." class="w-full img-circle"></a>
              <div class="clear">
                <div class="p-a p-y-sm white inline r">
                  Hi John, What's up...
                </div>
                <div class="text-muted text-xs m-t-xs"><i class="fa fa-ok text-success"></i> 2 minutes ago</div>
              </div>
            </div>
            <div class="m-b">
              <a href class="pull-right w-40 m-l-sm"><img src="/assets/images/a3.jpg" class="w-full img-circle" alt="..."></a>
              <div class="clear text-right">
                <div class="p-a p-y-sm success inline text-left r">
                  Lorem ipsum dolor soe rooke..
                </div>
                <div class="text-muted text-xs m-t-xs">1 minutes ago</div>
              </div>
            </div>
            <div class="m-b">
              <a href class="pull-left w-40 m-r-sm"><img src="/assets/images/a2.jpg" alt="..." class="w-full img-circle"></a>
              <div class="clear">
                <div class="p-a p-y-sm white inline r">
                  Good!
                </div>
                <div class="text-muted text-xs m-t-xs"><i class="fa fa-ok text-success"></i> 5 seconds ago</div>
              </div>
            </div>
            <div class="m-b">
              <a href class="pull-right w-40 m-l-sm"><img src="/assets/images/a3.jpg" class="w-full img-circle" alt="..."></a>
              <div class="clear text-right">
                <div class="p-a p-y-sm success inline text-left r">
                  Dlor soe isep..
                </div>
                <div class="text-muted text-xs m-t-xs">Just now</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-a b-t">
      <a class="pull-left w-32 m-r"><img src="/assets/images/a3.jpg" class="w-full img-circle" alt="..."></a>
      <form class="clear">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Say something">
          <span class="input-group-btn">
            <button class="btn white b-a no-shadow" type="button">SEND</button>
          </span>
        </div>
      </form>
    </div>
  </div>
