<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>Users Wallets</h2>
      <small>List of all users wallets</small>
    </div>
    <div class="box-body">
      Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/>
      <% if current_user and current_user.roleid == 1 %>
           <%= link_to 'New User Wallet', new_user_wallet_path, {:class => 'btn btn-fw accent',:style => "margin-left:800px;"}%>
      <% end %>
    </div>
    <div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
              <th data-toggle="true">
              User ID</th>
              <th>Username</th>
              <th>Currency</th>
              <th>Amount</th>
              <th>Uuid</th>

              <th data-hide="phone">
              Status</th>
          </tr>
        </thead>
        <tbody>
        <% @user_wallets.each do |user_wallet| %>
          <tr>
          <td><%= user_wallet.user_id %></td>
          <td><%= user_wallet.user.firstname + " " + user_wallet.user.lastname %></td>
          <td><%= user_wallet.currency %></td>
          <td><%= user_wallet.amount %></td>
          <td><%= user_wallet.uuid %></td>
          <% if user_wallet.status == 0 %>
          <td data-value="2"><span class="label" title="Disabled">Disabled</span></td>
          <% elsif user_wallet.status == 1 %>
          <td data-value="1"><span class="label success" title="Active">Active</span></td>
          <% end %>
          <% if user_wallet.status == 0 %>
          <td><a href="/wallets_status?id=<%= user_wallet.id %>" class="btn btn-primary">Push To Enable This Wallet</a></td>
          <% else %>
          <td><a href="/wallets_status?id=<%= user_wallet.id %>" class="btn btn-warning">Push To Disable This Wallet</a></td>
          <% end %>
          <td><%= link_to 'Show', user_wallet %></td>
              
          </tr>
          <% end %>
          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <%= link_to 'Transfer Balance Between Users', new_users_wallets_transfer_path,{:class => 'btn btn-fw accent'} %>
  <%= link_to 'Add Balance To Users', admin_add_balance_path,{:class => 'btn btn-fw accent'} %> <br><br>
  <%= link_to 'SMS Logs', sms_logs_path,{:class => 'btn btn-success'} %>
</div>