<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>New Ticket</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= render 'form', ticket: @ticket %>
            </div>
    </div>
    <%= link_to 'Back', tickets_path %>
</div>
                
