<p id="notice"><%= notice %></p>

<p>
  <strong>User ID:</strong>
  <%= @ticket.user.id %>
</p>

<p>
  <strong>User Name:</strong>
  <%= @ticket.user.firstname + " " + @ticket.user.lastname %>
</p>

<p>
  <strong>Number:</strong>
  <%= @ticket.number %><%= @ticket.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @ticket.content %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @ticket.attachment %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.status %>
</p>

<p>
  <strong>Evaluation:</strong>
  <% if @ticket.evaluation != nil %>
  <td><%= @ticket.evaluation %></td>
  <% else %>
  <td><%= "-" %></td>
  <% end %>
</p>


<% if @ticket.status != "Closed" %>
<td><button><a href="/close_ticket?id=<%= @ticket.id %>">Close Ticket</a></button></td>
<% end %>
<br>

<h1>Ticket Reply</h1>
<%= form_for TicketReply.new, url: '/tickets/reply' do |form| %>

<%= form.hidden_field :ticket_id, value: @ticket.id %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<br>

<h1>The replies of this ticket</h1>
<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Content</th>
      <th>Sender</th>
      <th>Created at</th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_reply.each do |ticket| %>
      <tr>
        <td><%= ticket.id %></td>
        <td><%= ticket.content %></td>
        <td><%= ticket.sender_type %></td>
        <td><%= ticket.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
