<template>
  <div  class="row">
    <div v-for="list in original_lists" :key= "list.id" class="col-3">
      <h6>{{ list.username }}</h6>
      <hr/>
    </div> 
    <input type="text" class="todo-input" placeholder="search any thing .." v-model="sFilter" @keyup="seachfilter">
         <div v-for="(list, index) in todosearchfilter" :key= "list.id" class="todo-item">
           <div class="todo-item-left">
               <div @dblclick="choosethis(list)" class="todo-item-label" >{{ list.username }}</div>
           </div>
       </div>
  </div>
</template>

<script>
import draggable from 'vuedraggable'
export default {
  components: { draggable },
  props: ["original_lists"],
  data: function(){
    return {
      message: {},
      lists: this.original_lists,
      sFilter: '',
      search: '',
    }
  },
  computed: {
    todosearchfilter(){
         if (this.search != ''){
          return this.lists.filter(list => {
        return list.username.toLowerCase().includes(this.search.toLowerCase())
      }).sort((a, b) => 1 * a.username.localeCompare(b.username))
      }
      }
  },
  methods: {
    
    seachfilter(){
       this.search = this.sFilter
      },
      choosethis(list){
       this.sFilter = list.username
       this.search = ""
      }
  }
}
</script>

<style scoped>
.dragArea{
  min-height: 10px;
}
.board{
  white-space: nowrap;
  overflow-x: auto;
}
.list{
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  width: 270px;
}
p {
  font-size: 2em;
  text-align: center;
}
.todo-input {
  width:100%;
  padding: 10px 18px;
  font-size: 18px;
  margin-bottom:16px;
   }
.todo-item-left {
       display: flex;
       align-items: center;
   }

   .todo-item-label {
       padding: 10px;
       border: 1px solid white;
       margin-left: 12px;
   }
</style>
