<h1>Editing Card</h1>

<%= form_with(model: @card, local: true) do |form| %>
    <% if @card.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>
  
        <ul>
        <% @card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <p>
      <strong>Card Number:</strong>
      <%= @card.number.scan(/.{1,4}/).join('-') %>
      </p>
    </div>

    <div class="field">
    <p>
    <strong>User:</strong>
    <%= @card.user.firstname + " " + @card.user.lastname %>
    </p>
    </div>
  
    <div class="field">
      <%= form.label :value %>
      <%= form.number_field :value %>
    </div>
  
    <div class="field">
      <%= form.label :status %>
      <%= form.select :status,options_for_select([['Active',1],['Charged',2],['pending',3],['disabled',4]], :selected => @card.status),  {}, {} %>
    </div>
  
    <div class="field">
      <%= form.label :expired_at %>
      <%= form.date_select :expired_at %>
    </div>
  
    <div class="field">
      <%= form.label :invoice_id %>
      <%= form.number_field :invoice_id %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

<%= link_to 'Show', @card %> |
<%= link_to 'Back', cards_path %>
