<div class="padding">
  
      <div class="box">
        <div class="box-header">
          <h3>Money Operation</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>UserName</th>
              <td><%= @money_op.user.firstname + " " + @money_op.user.lastname  %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>User ID</th>
              <td> <%= @money_op.user_id %></td>
          </tr>
          <tr>
              <th>Operaion ID</th>
              <td><%= @money_op.optype %></td>
          </tr>
          <tr>
            <th>Amount</th>
            <td> <%= @money_op.amount %></td>
          </tr>
          <tr>
            <th>Fees</th>
            <td> <%= @money_op.fees %></td>
          </tr>
          <tr>
            <th>Payment Gateway</th>
            <td> <%= @money_op.payment_gateway %></td>
          </tr>
          <tr>
          <th>Status</th>
            <% if @money_op.status == 0 %>
            <td><span class="label"><%= "Pending" %></span></td>
            <% elsif @money_op.status == 1 %>
            <td><span class="label success"><%= "Compeleted" %></span></td>
            <% end %>
          </tr>  
          <tr>
            <th>Payment Date</th>
            <td><%= @money_op.payment_date %></td>
          </tr>
          <tr>
            <th>Payment ID</th>
            <td><%= @money_op.payment_id %></td>
          </tr>

          </tbody>
        </table>
      </div>
      <%= link_to 'Back', money_ops_path %>
</div>
